<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RMSFILEPATH" value="c:\RMS-GST"/>
    <add key="SERVER" value="PRITESH\SQLEXPRESS2008R2"/>
    <add key="DATABASE" value="RMS"/>
    <add key="DBUSERID" value="sa"/>
    <add key="DBPASSWORD" value="sa@123"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
